@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --heading: 0, 0, 0;
  --text: 120, 120, 120;
  --background: 245,245,245;
}

@media (prefers-color-scheme: dark) {
  :root {
	  --heading: 255, 255, 255;
	  --text: 185, 185, 185;
	  --background: 10,10,10;
  }
}

body {
  background: rgba(var(--background), 1);
  text-align: center;
  padding: 60px 0;
}

h1{
  color: rgb(var(--heading)) !important;
  margin-bottom: 15px;
}

p,a{
	color: rgb(var(--text));
}